# Example env file for sharing required variable names (no secrets)

# App environment
NODE_ENV=production
APP_ENV=production

NODE_ENV=development
APP_ENV=local

EXPO_PUBLIC_LOCALHOST_API_URL=http://localhost:3000/api
EXPO_PUBLIC_LOCALHOST_WS_URL=http://localhost:3000

EXPO_PUBLIC_WS_URL=https://production-url.com
EXPO_PUBLIC_API_URL=https://production-url.com/api

# Feature flags
REACT_APP_ENABLE_LOGGING=false

